.about {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 360px;
  transition: filter 0.5s;

  filter: blur(3px);
}

.about:hover {
  filter: blur(0px);
}

p::selection {
  color: white;
  background-color: rgb(0, 0, 0);
}
