img {
  width: 450px;
  height: 675px;
  -webkit-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.1);
}

.container {
  height: 100vh;
  position: absolute;
}

body {
  overflow-y: auto;
  overflow: hidden;
}

#item {
  /* height: 100vh; */
  background-color: transparent;
  transition: background-color 300ms linear;
  scroll-snap-align: start;
  overflow-y: auto;
  overflow: overlay;
  scroll-snap-type: y mandatory;
  background-color: hsl(324, 43%, 85%);
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: transparent;
  transition: background-color 300ms linear;
}

.image1 {
  background-color: hsl(324, 43%, 85%);
}

.image1::selection {
  background: hsl(324, 43%, 85%);
}

.image2 {
  background-color: hsl(207, 71%, 88%);
}

.image2::selection {
  background: hsl(207, 71%, 88%);
}

.image3 {
  background-color: hsl(357, 62%, 52%);
}

.image3::selection {
  background: hsl(357, 62%, 52%);
}
